
body{
    background-color: rgb(10, 10, 10);
    color: orange;
}

.container-fluid{
    background-color:rgb(10,10,10);
    color: orange;
}

a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    width:50px;
    height:30px;
}

nav{
    color:orange;
    background-color: rgb(10, 10, 10);

}

.jumbotron, footer{
    background-color: rgb(10, 10, 10);
    color:orange;

}

.navbar-header{
    background-color: orange;
}

.navbar-brand{
    background-color: orange;
}



.navbar .navbar-inverse{
    background-color: black;
    color:orange;
}

.btn{
    margin:2em;
    background-color: orange;
    color: black;
}

.panel{
    background-color: black;
    margin: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-body img{
    width:55%;
    height: 55%;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

/* making the images responsive on mouse hover state- larger */
.panel-body img:hover{

    transform: scale(1.1);
}

.panel-heading{
    background-color: orange;
    color:black;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width:100%;
}

.panel-subheading{
    border: 1px solid black;
    font-size: larger;
    font-weight: bolder;
    color:white;
    padding-top:1em;
}

.panel-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background-color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .form-control{
    margin: 1em;
    border: 2px solid orange;
    /* width:50%; */
}

footer img{
    border: 1px solid orange;
    margin: 1em;
    border-radius: 50%;
    background-color: orange;
}
footer p{
    font-size: 1.5em;
}

footer .form-inline{
padding-top: 5em;
}

.form-btn{
    padding-top: 0;
    margin:1em;
    }

